/* WeathrSrch.css */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1; /* Ensure the card is above the video */
  max-width: 600px; /* Adjust this value as needed */
  width: 100%; /* Ensure the card expands to the full width of its container */
  margin: 0 auto; /* Center the card horizontally */
}

.cardImg {
  width: 100%;
  border-radius: 10px;
}

.input-group {
  width: 100%;
}

.input-group input {
  border-radius: 5px 0 0 5px;
}

.input-group button {
  border-radius: 0 5px 5px 0;
}

/* Position the component on top of the video */
/* .card {
  position: absolute;
}
body {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */
